.statistics {
    width: 390px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: gray;
    padding: 24px 0px;
}

.statList {
    display: flex;
    margin-bottom: 8px;
}

.item {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid rgb(9, 90, 189);
    width: 78px;
}

.label, .percentage {
    text-align: center;
    color: white;
}

.percentage {
    color: white;
    font-size: 24px;
}