table {
    width: 390px;
    border-collapse: collapse;
    box-shadow: 1px 1px 2px 2px rgb(210, 210, 210);
    margin-bottom: 24px;
    border-radius: 2px;
}

tbody td {
    text-align: center;
}

thead {
    background-color: blue;
    color: skyblue;
}

th, td {
    padding: 12px;
}

.transactionHistory {
    margin-top: 24px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(210, 210, 210);
}